#1. What exactly is []?

Empty List

#2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [51]:
spam=[2,4,6,8,10]
spam[2]='hello'
spam

[2, 4, 'hello', 8, 10]

#Lets pretend the spam includes the list ['a','b','c','d'] for the next three queries.

# 3.What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [52]:
spam=['a','b','c','d']

spam[int(int('3' * 2) / 11)]

'd'

# 4. What is the value of spam[-1]?

In [53]:
spam[-1]

'd'

#5. What is the value of spam[:2]?

In [54]:
spam[-2]

'c'

#Lets pretend bacon has the list [3.14,'cat', 11, 'cat', True] for the next three questions.
# 6. What is the value of bacon.index('cat')?

In [55]:
bacon=[3.14, 'cat', 11, 'cat', True]

In [56]:
bacon.index('cat')

1

# 7.How does bacon.append(99) change the look of the list value in bacon?

In [57]:
bacon.append(99)

bacon

[3.14, 'cat', 11, 'cat', True, 99]

# 8. How does bacon.remove('cat') change the look of the list in bacon?

In [58]:
bacon.remove('cat')      #it will remove only the first instance
 
bacon

[3.14, 11, 'cat', True, 99]

#9. What are the list concatenation and list replication operators?

In [63]:
L1=[1,2,4,6,7]
L2=[54,5,7,9,4,6]

#List concatenation
print('List concatenation',L1+L2)

#List replication
print('List replication',L1*3)

List concatenation [1, 2, 4, 6, 7, 54, 5, 7, 9, 4, 6]
List replication [1, 2, 4, 6, 7, 1, 2, 4, 6, 7, 1, 2, 4, 6, 7]

#10. What is difference between the list methods append() and insert()?

In [65]:
l3=[1,2,4,6,8,9,0]

#Append always adds elements to the last

l3.append(54)
print(l3)

[1, 2, 4, 6, 8, 9, 0, 54]

In [66]:
# insert adds elements to the given index

l3.insert(4,'akshay')
print(l3)

[1, 2, 4, 6, 'akshay', 8, 9, 0, 54]

# 11. What are the two methods for removing items from a list?

In [72]:
l3=[1,3,5,8,2,4,7,9]

l3.remove(5) #removes 5 from the list
print(l3)

[1, 3, 8, 2, 4, 7, 9]

In [73]:
l3.pop(3) #remove element in 3rd index

print(l3)

[1, 3, 8, 4, 7, 9]

# 12. Describe how list values and string values are identical.

List can have data called elements and can be accessed by indexing, same thing with string.
But list can have different datatypes

# 13. What's the difference between tuples and lists?

Tupes are immutable, that means elements in the tuple cannot be changed

Lists are mutable, that means elements in the list can be changed

# 14.How do you type a tuple value that only contains the integer 42?

In [93]:
a= (42,)


type(a)

tuple

# 15. How do you get a list values tuple form? How do you get a tuple values list form?

In [96]:
L1=[1,2,4,5,7,8,9]

t1=(4,23,7,9,4,6,8)

print('Original datatype of L1',type(L1))
print('Original datatype of t1',type(t1))


L1=tuple(L1)
t1=list(t1)


print('datatype of L1 after convserion', type(L1))
print('datatype of t1 after convserion',type(t1))

Original datatype of L1 <class 'list'>
Original datatype of t1 <class 'tuple'>
datatype of L1 after convserion <class 'tuple'>
datatype of t1 after convserion <class 'list'>

#16. Variables that 'contain' list values are not necessarily lists themselves. Instead, what do they contain?

In [ ]:
new=1
new1='akshay'

'''Although these values (new, new1) can be included in the list, now they are assigned 
to individivual variables and in this example they contain integer and string.
Variables will contain references to list values rather than list values themselves. 
But for strings and integer values, variables simply contain the string or integer value.'''

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

copy() create reference to original object. If you change copied object - you change the original object. deepcopy() creates new object and does real copying of original object to new one. Changing new deepcopied object doesn't affect original object.

In [112]:
l1=[1,2,[4,5,7]]

import copy

l2=copy.copy(l1)

print(l2)

[1, 2, [4, 5, 7]]

In [113]:
l2[2][1]='akshay'

print(l1)
print(l2)    #since its shallow copy(), it will create a duplicate list and changes made in the duplicate list will affect the original list

[1, 2, [4, 'akshay', 7]]
[1, 2, [4, 'akshay', 7]]

In [114]:
#deep copy

l1=[1,2,[4,5,7]]

l2 =copy.deepcopy(l1)

print(l2)

[1, 2, [4, 5, 7]]

In [115]:
l2[2][1]='akshay'

print(l1)
print(l2)  #since its deep copy(), it will create a duplicate list and changes made in the duplicate list will not affect the original list

[1, 2, [4, 5, 7]]
[1, 2, [4, 'akshay', 7]]