#1.What are the two values of the Boolean data type? How do you write them?

There are 2 values for Boolean

True & False

It should start with capital letter

In [42]:
A=True
B=False
print(type(A))
print(type(B))

<class 'bool'>
<class 'bool'>

#2. What are the three different types of Boolean operators?

AND

OR

NOT

# 3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate )

#OR Condition
Condition1 | Condition2 | Value

     True        True        True

     True        False       True

     False       True        True

     False       False       False 

OR condition gives true when atleast 1 condition is satisfied



#AND Condition
Condition1 | Condition2 | Value

     True        True        True

     True        False       False

     False       True        False

     False       False       False 

AND condition gives true when both conditions are satisfied


#NOT Condition
 Condition   |      Value

     True        False        

     False        True      
    

NOT condition gives the opposite of the statement

In [5]:
#OR

a=10
b=5

if a>5 or b<3:
  print('Yes')  #a>5 is satisified where as b<3 is not satisfied.  
else:
  print('No')

Yes

In [7]:
#AND

a=10
b=5

if a>5 and b<3:
  print('Yes')
else:
  print('No') #a>5 is satisified where as b<3 is not satisfied.  AND requires both condition to be satisifed

No

In [8]:
#NOT

a=10
b=5

if a is not b:
  print('a and b are different') 
else:
  print('a and b are same')

a and b are different

#4. What are the values of the following expressions?

In [9]:
(5 > 4) and (3 == 5) 

#False

False

In [10]:
not (5 > 4)

#False

False

In [11]:
(5 > 4) or (3 == 5)

#True

True

In [12]:
not ((5 > 4) or (3 == 5))

#False

False

In [13]:
(True and True) and (True == False)
#False

False

In [14]:
(not False) or (not True)

#True

True

#5. What are the six comparison operators?

'=' : Equal to

'!=' : Not equal to

'>': Greater than

'<': Lesser than 

'>=' : Greater than or equal to

'<=': Lesser than or equal to

#6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

In [17]:
a=10
b=15

#Here were are assigning values to variables a and b using '='


#now we are using 'equal' condition to check whether the variables are same or not
if a==b:
  print('numbers are equal')
else:
  print('numbers are not equal')

numbers are not equal

#7. Identify the three blocks in this code:

In [18]:
spam = 0

if spam == 10:
print('eggs')     #first block - indentation error
if spam > 5:      
print('bacon')    #second block - indentation error
else:
print('ham')       #third block - indentation error
print('spam')
print('spam')

IndentationError: ignored

In [20]:
#correct way of writing

spam = 0

if spam == 10:
  print('eggs')     
if spam > 5:   
     print('bacon')    
else:
  print('ham')       
  print('spam')
  print('spam')

ham
spam
spam

#8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [44]:
spam=int(input('Enter your number:'))


if spam==1:
  print('Hello')
elif spam==2:
  print('Howdy')
else:
  print('Greetings!')

Enter your number2
Howdy

#9.If your programme is stuck in an endless loop, what keys you’ll press?

Click on the function execution cell to stop it

#10. How can you tell the difference between break and continue?

In [29]:
for i in range(0,5):
  if i==3:
    break
  print(i) #break statment breaks the loop

0
1
2

In [30]:
for i in range(0,5):
  if i==3:
    continue
  print(i) #continue statment ignores the condition given (3 is ignored) and the loop starts again

0
1
2
4

#11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [32]:
for i in range(10):
  print(i)                 #all are same

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [34]:
for i in range(0,10,1): 
  print(i)

0
1
2
3
4
5
6
7
8
9

#12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [39]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [40]:
i=0
N=10

while i<=N:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10


#13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

This function can be called with spam.bacon()