# 1.Write a Python program to find sum of elements in list?

In [3]:
def new1(a):
  sum=0
  for i in a:
    sum=sum+i
  return sum

In [4]:
new1([1,3,5,7,9,0,90])

115

#2. Write a Python program to Multiply all numbers in the list?

In [7]:
def new1(a):
  mult=1
  for i in a:
    mult=mult*i
  return mult

In [8]:
new1([5,6,2,5,2])

600

# 3. Write a Python program to find smallest number in a list?

In [11]:
def new2(a):
  a.sort(reverse=False)
  return a[0]

In [13]:
new2([45,83,3854,2748,2,34,5,5,3,8,4])

2

# 4. Write a Python program to find largest number in a list?

In [16]:
def new3(a):
  a.sort(reverse=True)
  return a[0]

In [17]:
new3([45,83,3854,2748,2,34,5,5,3,8,4])

3854

# 5. Write a Python program to find second largest number in a list?

In [18]:
def new4(a):
  a.sort(reverse=True)
  return a[1]

In [19]:
new4([45,83,3854,2748,2,34,5,5,3,8,4])

2748

# 6. Write a Python program to find N largest elements from a list?

In [21]:
num=4   #function to find the 4 largest elements in the list
def new5(a):
  a.sort(reverse=True)
  return a[:num]

In [22]:
new5([45,83,3854,2748,2,34,5,5,3,8,4])

[3854, 2748, 83, 45]

# 7. Write a Python program to print even numbers in a list?

In [25]:
l1=[]
def new6(a):
  for i in a:
    if i%2==0:
      l1.append(i)
  return l1

In [26]:
new6([1,2,3,4,6,7,8,9,10])

[2, 4, 6, 8, 10]

# 8. Write a Python program to print odd numbers in a List?

In [27]:
l1=[]
def new6(a):
  for i in a:
    if i%2!=0:
      l1.append(i)
  return l1

In [28]:
new6([1,2,3,4,6,7,8,9,10])

[1, 3, 7, 9]

# 9. Write a Python program to Remove empty List from List?

In [46]:
l1=[]
def new8(*a):
  for i in a:
    if i!=[]:
      l1.append(i)
  return l1

In [47]:
new8([234,234,3],[],[345,345,345],'Akshay')

[[234, 234, 3], [345, 345, 345], 'Akshay']

# 10. Write a Python program to Cloning or Copying a list?

In [60]:
def new10(a):
   b=a.copy()
   return b

In [61]:
a=[1,2,34,5,654,4556]

In [62]:
new10(a)

[1, 2, 34, 5, 654, 4556]

# 11. Write a Python program to Count occurrences of an element in a list?

In [85]:
def new10(a):
  num=8
  occurence=0
  for i in a:
    if i==num:
      occurence=occurence+1
  print('Number 8 has occured', occurence ,'times in the list')

In [86]:
l1=[1,2,3,5,7,6,3,2,4,7,4,2,21,34,5,8,8,8,8,3,3,2,2,5,8,8,8,8,8,34,234,324,4,242,4,4]

In [87]:
new10(l1)

Number 8 has occured 9 times in the list